{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="es"{% endblock %}
{% block title %}Kodilo{% endblock %}
{% block head%}
{{super()}}
<script language="javascript">
	function muestra_info(){
    document.getElementById('cajainfo').style.display = "block"
	}
</script>
<script language="javascript">
	function oculta_info(){
    document.getElementById('cajainfo').style.display = "none"
	}
</script>
<script language="javascript">
	function muestra_info_cifrado(){
    document.getElementById('cajainfocifrado').style.display = "block"
	}
</script>
<script language="javascript">
	function oculta_info_cifrado(){
    document.getElementById('cajainfocifrado').style.display = "none"
	}
</script>
<script language="javascript">
	function muestra_info_kodilo(){
    document.getElementById('kodiloinfo').style.display = "block"
	}
</script>
<script language="javascript">
	function oculta_info_kodilo(){
    document.getElementById('kodiloinfo').style.display = "none"
	}
</script>
<script language="javascript">
	function muestra_info_texto(){
    document.getElementById('cajainfotexto').style.display = "block"
	}
</script>
<script language="javascript">
	function oculta_info_texto(){
    document.getElementById('cajainfotexto').style.display = "none"
	}
</script>
<script language="javascript">
	function muestra_info_llave(){
    document.getElementById('cajainfollave').style.display = "block"
	}
</script>
<script language="javascript">
	function oculta_info_llave(){
    document.getElementById('cajainfollave').style.display = "none"
	}
</script>

 <meta charset="UTF-8">
{% endblock%}
{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" onMouseOver="muestra_info_kodilo()" onmouseout="oculta_info_kodilo()" href="#">Kodilo</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
	<li id="liPerfil"> <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myPerfil" id="perfilBtn">Perfil</button>

        <li id="liMensajes"><button type="button" class="btn btn-link" id="messages">Mensajes</button></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
	<li id="liLogin"> <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myLogin">Ingresar</button>
	<li id="liLogout"><button type="button" class="btn btn-link" id="logout">Salir</button></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}
